@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #21222c;
    --blackSecondary: #414558;
    --blackTernary: #a7abbe;
    --grey: #414558;
    --greySecondary: #626784;
    --greyTernary: #b6b9c9;
    --white: #f8f8f2;
    --whiteSecondary: #fff;
    --cyan: #80ffea;
    --cyanSecondary: #ccfff6;
    --green: #8aff80;
    --greenSecondary: #d0ffcc;
    --orange: #ffca80;
    --orangeSecondary: #ffeacc;
    --pink: #ff80bf;
    --pinkSecondary: #ffcce6;
    --purple: #9580ff;
    --purpleSecondary: #d4ccff;
    --red: #ff9580;
    --redSecondary: #ffd4cc;
    --yellow: #ffff80;
    --yellowSecondary: #ffc;
    --disabled: #6c7393;
    --gradientDegree: 135deg;
    --purple-cyan: linear-gradient(var(--gradientDegree),var(--purple) 0%,var(--cyan) 100%);
    --yellow-pink: linear-gradient(var(--gradientDegree),var(--yellow) 0%,var(--pink) 100%);
    --cyan-green: linear-gradient(var(--gradientDegree),var(--cyan) 0%,var(--green) 100%);
    --pink-purple: linear-gradient(var(--gradientDegree),var(--pink) 0%,var(--purple) 100%)
}

body {
    background-color: var(--black);
}

.button {
    background: 
        linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    border-radius: 0.6em;
    border: 2px solid var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    color: var(--green);
    display: block;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 1.4em;
    overflow: hidden;
    padding: 0.7em 2.7em;
    position: relative;
    transition: all 0.3s;
    text-align: center;
}

.button:hover {
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
    color: var(--green);
}

.button:before {
    background: 
        linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
    content: "";
    height: 100%;
    left: -4em;
    position: absolute;
    top: 0;
    transition: transform .4s ease-in-out;
    width: 4em;
}

.button:hover:before {
    transform: translateX(40em);
}

h1 {
    color: var(--purple);
}
h2 {
    color: var(--purpleSecondary);
}
h3 {
    color: var(--green);
}
hr {
    border-top: transparent;
    height: 16px;
}
p {
    color: var(--white);
}

.card {
    border-radius: 32px;
    background: linear-gradient(145deg, #1e1f28, #23242f);
    box-shadow:  16px 16px 32px #0d0e12,
                -16px -16px 32px #353646;
    padding: 32px;
}

.card h3{
    text-align: center;
}
.card p {
    text-align: justify;
}

.card img {
    border-radius: 8px;
    display: block;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.header-bg {
    height: 100vh;
    background: 
        linear-gradient(135deg, var(--purple) 25%, transparent 25%) -40px 0/ 80px 80px, 
        linear-gradient(225deg, var(--cyan) 25%, transparent 25%) -40px 0/ 80px 80px, 
        linear-gradient(315deg, var(--purple) 25%, transparent 25%) 0px 0/ 80px 80px, 
        linear-gradient(45deg, var(--cyan) 25%, var(--black) 25%) 0px 0/ 80px 80px;

    opacity: .05;
}

.header-photo {
    border-radius: 16px;
    height: 36vh;
    overflow: hidden;
    width: 30vh;
}

.icon {
    color: var(--cyan);
}

/* Timeline Container */
.timeline {
    margin: 20px auto;
    padding: 20px;
}

/* Card container */
.timeline .step {
    position: relative;
}

/* setting padding based on even or odd */
.timeline .step:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.timeline .step:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.timeline .step::before {
    border: solid var(--purple);
    content: "";
    position: absolute;
    width: 50%;
}

/* Setting the border of top, bottom, left */
.timeline .step:nth-child(odd)::before {
    border-radius: 50px 0 0 50px;
    border-width: 5px 0 5px 5px;
    bottom: -5px;
    left: 0px;
    top: -5px;
}

/* Setting the border of top, bottom, right */
.timeline .step:nth-child(even)::before {
    border-radius: 0 50px 50px 0;
    border-width: 5px 5px 5px 0;
    bottom: 0;
    right: 0;
    top: 0;
}

/* Removing the border if it is the first step */
.timeline .step:first-child::before {
    border-top-left-radius: 0;
    border-top: 0;
}

/* Removing the border if it is the last step  and it's odd */
.timeline .step:last-child:nth-child(odd)::before {
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

/* Removing the border if it is the last step  and it's even */
.timeline .step:last-child:nth-child(even)::before {
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

/* Information about the timeline */
.timeline .info {
    background: linear-gradient(145deg, #1e1f28, #23242f);
    border-radius: 10px;
    box-shadow:  8px 8px 16px #0d0e12,
                -8px -8px 16px #353646;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Title of the step */
.timeline .title {
    color: var(--green);
    position: relative;
}

/* Timeline dot  */
.timeline .title::before {
    background: white;
    border-radius: 999px;
    border: 3px solid var(--purple);
    content: "";
    height: 15px;
    position: absolute;
    width: 15px;
}

/* text right if the step is even  */
.timeline .step:nth-child(even) > .info > .title {
    text-align: right;
}

/* setting dot to the left if the step is odd */
.timeline .step:nth-child(odd) > .info > .title::before {
    left: -45px;
}

/* setting dot to the right if the step is odd */
.timeline .step:nth-child(even) > .info > .title::before {
    right: -45px;
}