<h4 class="text-4xl text-center">Contact Me</h4>
<div class="p-8 flex justify-center gap-8">
    <a href="https://instagram.com/_leornt">
        <div class="social"
            style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);">
            <i class="fa-brands fa-instagram"></i>
        </div>
    </a>
    <a href="https://linkedin.com/in/leornt">
        <div class="social" style="background-color: #0B65C2;">
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </a>
    <a href="mailto:leornt@pm.me">
        <div class="social">
            <i class="fa-solid fa-at"></i>
        </div>
    </a>
</div>