<div class="supports-[height:100dvh]:h-[100dvh] h-screen">
    <div class="header-bg"></div>
    <div class="absolute top-0 w-full">
        <div class="flex p-16 items-center h-[90vh]">
            <div class="w-full">
                <div class="flex flex-wrap gap-8 items-start justify-between">
                    <div>
                        <h1 class="text-6xl font-bold">Leonardo</br>Renaut</h1>
                        <h2 class="text-xl">Flutter Developer</h2>
                    </div>
                    <div class="header-photo ring-2 ring-[var(--cyan)] ring-offset-4 ring-offset-[var(--black)]">
                        <img src="./img/profile.jpg" alt="Foto de perfil">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-col text-center self-center items-center justify-center content-center">
            <span class="icon material-icons" style="font-size: 32px;">keyboard_double_arrow_up</span>
            <h2>Ver mais</h2>
        </div>
    </div>
</div>