<h4 class="text-4xl text-center">Skill Tree</h4>
<div id="wrapper" class="p-8">
    <div id="container">
        <ol class="organizational-chart">
            <li>
                <div>Eng Software - UEPG (Láurea Acadêmica)</div>
                <ol>
                    <li>
                        <div> Técnico </div>
                        <ol>
                            <li>
                                <div>Flutter</div>
                            </li>
                            <li>
                                <div>DB</div>
                                <ol>
                                    <li>
                                        <div>Firebase</div>
                                    </li>
                                    <li>
                                        <div>GraphQL</div>
                                    </li>
                                    <li>
                                        <div>MongoDB</div>
                                    </li>
                                    <li>
                                        <div>MySQL</div>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div>Infra</div>
                                <ol>
                                    <li>
                                        <div>Docker</div>
                                    </li>
                                    <li>
                                        <div>Git / Flow</div>
                                    </li>
                                    <li>
                                        <div>Hardware</div>
                                    </li>
                                    <li>
                                        <div>Linux</div>
                                    </li>
                            </li>
                        </ol>
                    <li>
                        <div>Web</div>
                        <ol>
                            <li>
                                <div>CSS</div>
                            </li>
                            <li>
                                <div>HTML</div>
                            </li>
                        </ol>
                    </li>
            </li>
            <li>
                <div> Design </div>
                <ol>
                    <li>
                        <div>Figma</div>
                    </li>
                    <li>
                        <div>Photoshop</div>
                    </li>
                    <li>
                        <div>Sony Vegas</div>
                    </li>
                </ol>
            </li>
        </ol>
        <li>
            <div> Off Topic </div>
            <ol>
                <li>
                    <div>Liderança</div>
                    <ol>
                        <li>
                            <div>Empreendedor</div>
                        </li>
                        <li>
                            <div>Scrum Master</div>
                        </li>
                        <li>
                            <div>Squad Leader</div>
                        </li>
                    </ol>
                </li>
                <li>
                    <div>Idiomas</div>
                    <ol>
                        <li>
                            <div>Espanhol - Básico</div>
                        </li>
                        <li>
                            <div>Inglês - Avançado</div>
                        </li>
                        <li>
                            <div>Português - Nativo</div>
                        </li>
                    </ol>
                </li>
                <li>
                    <div>Hello World</div>
                    <ol>
                        <li>
                            <div>C / C++</div>
                        </li>
                        <li>
                            <div>Java / JavFX</div>
                        </li>
                        <li>
                            <div>PHP</div>
                        </li>
                        <li>
                            <div>Python</div>
                        </li>
                        <li>
                            <div>React</div>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <div> Hobbies </div>
            <ol>
                <li>
                    <div>Bartender</div>
                </li>
                <li>
                    <div>Escoteiro</div>
                </li>
                <li>
                    <div>DeMolay</div>
                </li>
                <li>
                    <div>Hacking</div>
                </li>
                <li>
                    <div>Investidor</div>
                </li>
                <li>
                    <div>Mágico</div>
                </li>
                <li>
                    <div>Streamer</div>
                </li>
            </ol>
        </li>
    </div>
</div>