<h4 class="text-4xl text-center">Trajetória Profissional</h4>
<div class="timeline">
    <div class="outer">
        <div class="step">
            <div class="info">
                <h3 class="title">Castrolanda Services - 01/05/2023 até o presente</h3>
                <p>
                    Desenvolvedor mobile, atuando com planejamento e desenvolvimento de projetos e apps para
                    diferentes áreas de negócio.<br>"Aqui vidas são transformadas!"
                </p>
            </div>
        </div>
        <div class="step">
            <div class="info">
                <h3 class="title">Lynx Contabilidade - 01/04/2023 a 31/12/2023</h3>
                <p>
                    Escritório de contabilidade com foco em pequenas e médias empresas<br><br>
                    Contabilidade | Fiscal | Departamento Pessoal | Administração de Condomínios | Credenciamentos |
                    Abertura e Baixa de CNPJ | dentre outros serviços mediante consulta
                </p>
            </div>
        </div>
        <div class="step">
            <div class="info">
                <h3 class="title">Beetsi - 26/12/2022 até o presente</h3>
                <p>
                    Projeto com foco no desenvolvimento de sites, sistemas e aplicativos
                    personalizados, com sócios que conheci na faculdade. Colocamos em prática conceitos de
                    infraestrutura, design, contratos, controle de gastos e planejamento empresarial, cronogramas e
                    reuinões com clientes. Posteriormente a empresa se tornou pessoal
                </p>
            </div>
        </div>
        <div class="step">
            <div class="info">
                <h3 class="title">WebSix - 20/01/2020 a 30/04/2023</h3>
                <p>
                    Estágio de 6 meses em desenvolvimento de aplicativos<br><br>
                    Desenvolvedor júnior por 9 meses, atuando com desenvolvimento de aplicativos e protótipos
                    <br><br>
                    Posteriormente líder, atuando no desenvolvimento de aplicativos, reuinão com clientes,
                    organização de cronogramas, suporte e planejamento
                </p>
            </div>
        </div>
        <div class="step">
            <div class="info">
                <h3 class="title">CEFEC - Formação Profissional - 05/07/2018 a 14/12/2018</h3>
                <p>
                    Montagem, manutenção, formatação de computadores e desenvolvedor web
                </p>
            </div>
        </div>
    </div>
</div>